{% extends getPartial('page-design') %}

{% block PageBody %}

	< Insert markup for homepage here >

    <h1>My homepage</h1>
<h1>Software sales and development</h1>
<marquee>Plenty market</marquee>
{% endblock %}
